
<%= form_with(model: property, url: owner_properties_path, method: :post) do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, 'error') %> prohibited this property from being saved:</h2>

      <ul>
        <% property.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :image_url %>
    <%= form.text_field :image_url %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude %>
  </div>
  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude %>
  </div>
  <div class="field">
    <%= form.label :location_name %>
    <%= form.text_field :location_name %>
  </div>



  <!-- Add fields as needed -->

  <div class="actions">
    <%= form.submit 'Create Property' %>
  </div>
<% end %>
